kbd {
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 0.4375rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 0.25rem;
    padding: 0.1rem 0.4rem;
    box-shadow: 0 0 #d9d9d9, 0 0px #d9d9d9, 0 1px #d9d9d9, 0 2px #d9d9d9, 0 3px #d9d9d9, 0 4px #d9d9d9, 0 5px #d9d9d9, 2px 2.5px 4px #adb5bd, 0 -1px 2.5px #adb5bd;
    background-color: #fff;
    border-color: #e6e6e6;
    color: #343a40;
    backface-visibility: hidden;
    border: 1px solid #e6e6e6;
    border-radius: 0.25rem;
    display: inline-block;
    font-family: Consolas, "Liberation Mono", "Courier New", monospace;
    font-weight: 400;
    text-align: left;
    transform: translate3d(0, 0, 5px);
    transform-style: preserve-3d;
    transition: all 0.25s cubic-bezier(0.2, 1, 0.2, 1);
}

kbd::after {
    border-radius: 0.5rem;
    border-width: 0.125rem;
    bottom: -9px;
    left: -0.3125rem;
    right: -0.3125rem;
    top: -3px;
    transform: translate3d(0, 0, -3px);
    border-color: #cccccc;
}

#nav {
    position: fixed;
    top: 0;
    width: 280px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 7px;
}

#nav svg {
    height: 32px;
    fill: wheat;
}

#nav li {
    list-style-type: decimal;
}

#nav li a {
    display: inline-block;
    padding: .2rem 1rem;
    text-decoration: none;
    color: wheat;
}

#nav li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

[data-bs-theme="dark"] {
    #main svg {
        filter: invert(1) hue-rotate(180deg);
    }

    #nav {
        background-color: #2d2d2d !important;
    }

    #navigate-top svg {
        filter: invert(1) hue-rotate(180deg);
    }

    .bd-mode-toggle svg {
        filter: invert(1) hue-rotate(180deg);
    }
}

.qrcode {
    display: none;
}

#main {
    margin-top: 1rem;
    margin-left: 300px;
}

#content {
    text-align: justify;
    max-width: 120ch;
}

#content svg {
    display: inherit;
    margin: 0px auto;
    max-width: 1015px;
}

#content img {
    max-width: 1149px;
}

#content figcaption {
    text-align: center;
}

#content h1 {
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}

#content h2 {
    margin-bottom: 1rem;
}

#navigate-top {
    width: 48px;
    height: 48px;
    position: fixed;
    right: 4rem;
    bottom: 1rem;
    border: none;
    outline: none;
    z-index: var(--layer-nav);
    background-color: var(--navbar);
    color: var(--main-alt);
    fill: var(--main-alt);
    display: none;
}

#navigate-top:hover {
    color: var(--main-alt2);
    fill: var(--main-alt2);
}

#pagenav {
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}

#pagenav li {
    list-style: disclosure-closed;
}

#pagenav li a:hover {
    font-weight: bold;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    background-color: transparent;
    border: 0;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}