#nav {
    position: fixed;
    top: 0;
    width: 280px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 7px;
}

#nav svg {
    height: 32px;
    fill: wheat;
}

#nav li {
    list-style: none;
}

#nav li a {
    display: block;
    padding: .5rem 1rem;
}

[data-bs-theme="dark"] {
    #main svg {
        filter: invert(1) hue-rotate(180deg);
    }

    #nav {
        background-color: #2d2d2d !important;
    }

    #navigate-top svg {
        filter: invert(1) hue-rotate(180deg);
    }

    .bd-mode-toggle svg {
        filter: invert(1) hue-rotate(180deg);
    }
}

.qrcode {
    display: none;
}

#main {
    margin-top: 1rem;
    margin-left: 300px;
}

#content {
    text-align: justify;
    max-width: 120ch;
}

#content svg {
    display: inherit;
    margin: 0px auto;
    max-width: 1015px;
}

#content img {
    max-width: 1149px;
}

#content figcaption {
    text-align: center;
}

#content h1 {
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}

#content h2 {
    margin-bottom: 1rem;
}

#toclinks li a:hover {
    text-decoration: underline;
}

#navigate-top {
    width: 48px;
    height: 48px;
    position: fixed;
    right: 4rem;
    bottom: 1rem;
    border: none;
    outline: none;
    z-index: var(--layer-nav);
    background-color: var(--navbar);
    color: var(--main-alt);
    fill: var(--main-alt);
    display: none;
}

#navigate-top:hover {
    color: var(--main-alt2);
    fill: var(--main-alt2);
}

#pagenav {
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}

#pagenav li {
    list-style: disclosure-closed;
}