@media all {

    :root {
        --color1: #C06EF0;
        --color2: #eee8d6;
        --sidebar-width: 260px; 
    }

    body {
        text-align: justify;
        font-size: 16px;
        line-height: 1.4;
        font-family: Open Sans, Arial;
        color: #454545;
        background-color: #F7F9F5;
    }

    #toc {
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        left: 0px;
        padding-right: 5px;
        border-right: 1px solid var(--color1);
        text-align: left;
        width: var(--sidebar-width);
    }

    #toc ul {
        list-style-type: none;
        padding-left: 20px;
    }

    #toc ul ul {
        padding-left: 20px;
    }

    #toc a {
        color: black;
        text-decoration: none;
    }

    #toc a:hover {
        text-decoration: underline;
    }

    .content {
        margin-left: 0px;
        margin-left: 10px;
        max-width: 1200px;
        padding-left: var(--sidebar-width);
    }


    h1 {
        border-bottom: 1px solid var(--color1);
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: var(--color1);
    }

    a {
        color: blue;
    }

    img {
        margin: 0px auto;
        max-width: 1200px;
        display: block;
    }

    table {
        width: 100%;
    }

    code {
        color: #dd4a68;
    }

    pre code {
        overflow: auto;
        display: block;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 1px solid #454545;
    }

    th {
        background-color: var(--color2);
        border: 1px solid #454545;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: var(--color2);
    }

}

@media print {
    body {
        color: black;
        background: white;
    }

    p,
    pre,
    code,
    table {
        break-inside: avoid;
    }
}