:root {
    --main: hsl(44, 87%, 94%);
    --main-alt: hsl(46, 42%, 88%);
    --main-alt2: hsl(44, 98%, 54%);
    --text: hsl(48, 5%, 19%);
    --dotnet: hsl(254, 69%, 49%);
    --navbar: hsl(60, 4%, 14%);
    --links: hsl(254, 69%, 49%);

    --layer-nav: 10;
    --layer-toc: 20;
    --nav-iconsize: 36px;
}

/*HTML elements*/

body {
    margin: 0px;
    background-color: var(--main);
    color: var(--text);
    text-align: justify;
    font-size: 16px;
    line-height: 1.4;
    font-family: "Alef", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    border-bottom: 1px solid var(--dotnet);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--dotnet);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

a {
    color: var(--links);
}

img {
    margin: 0px auto;
    display: block;
}

svg {
    display: inherit;
    margin: 0px auto;
}

table {
    width: 100%;
}

code {
    color: #dd4a68;
    font-family: "Jetbrains Mono", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

pre {
    position: relative;
    font-family: "Jetbrains Mono", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

pre code {
    overflow: auto;
    display: block;
    font-family: "Jetbrains Mono", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid var(--main-alt);
}

th {
    background-color: var(--main-alt);
    border: 1px solid var(--color-text);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--main-alt);
}

figcaption {
    text-align: center;
}

/*navbar*/

#mainNavMenu {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: var(--navbar);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: var(--layer-toc);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
}

#mainNavMenu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#mainNavMenu svg {
    width: var(--nav-iconsize);
}

#mainNavMenu #version {
    color: var(--main);
    padding: 6px;
}

#tocMenu {
    position: absolute;
    border-right: 2px solid var(--main-alt);
    padding-left: 5px;
    padding-right: 5px;
}

#mainNavMenu li {
    float: right;
    border-left: 2px solid var(--main-alt);
    padding-left: 5px;
    padding-right: 5px;
}

#mainNavMenu li:last-child {
    border-right: none;
}

#mainNavMenu li a {
    display: block;
    color: var(--main-alt);
    fill: var(--main-alt);
    text-align: center;
    text-decoration: none;
}

#mainNavMenu li a:hover {
    color: var(--main-alt2);
    fill: var(--main-alt2);
}

/*Interactive elements*/

#notify {
    color: var(--main-alt2);
    padding: 6px;
    font-weight: bold;
    display: none;
}

#navigate-top {
    width: 48px;
    height: 48px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border: none;
    outline: none;
    z-index: var(--layer-nav);
    background-color: var(--navbar);
    color: var(--main-alt);
    fill: var(--main-alt);
    display: none;
}

#navigate-top:hover {
    color: var(--main-alt2);
    fill: var(--main-alt2);
}

pre .copyButton {
    padding: 2px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--main-alt);

    outline: none;
}

pre .copyButton:hover {
    opacity: 1.0;
}

/* Main grid */

.container {
    display: grid;
    grid-template-rows: 1fr;
    gap: 0px 8px;
    grid-template-areas: "Toc Content";
    transition: 0.5s;
}

.toc-visible {
    grid-template-columns: 19% 81%;
}

.toc-collapsed {
    grid-template-columns: 0% 100%;
}

/* Table of contents */

#toc {
    direction: rtl;
}

#toc * {
    direction: ltr;
}

.toc-visible .toc-wrapper #toc {
    position: fixed;
    overflow: auto;
    height: 100vh;
}

.toc-wrapper {
    background-color: var(--main-alt);
    border-right: 2px solid var(--text);
    overflow-x: hidden;
    overflow-y: scroll;
    /*grid-area: Toc;*/
}

.toc-wrapper #toc {
    margin-top: 60px;
    text-align: left;
}

.toc-wrapper #toc a {
    text-decoration: none;
}

.toc-wrapper #toc a:hover {
    text-decoration: underline;
}

.toc-wrapper #toc ul {
    list-style-type: none;
    padding-left: 20px;
}

.toc-title {
    margin: 0 0 0 10px;
    border: 0px;
    color: var(--dotnet);
}

/* Content */

.content {
    grid-area: Content;
    margin: 60px auto 0px auto;
    max-width: 88rem;
}

#intro {
    display: none;
}