@media all {

    :root {
        --color1: #C06EF0;
        --color2: #eee8d6;
    }

    body {
        text-align: justify;
        font-size: 16px;
        line-height: 1.4;
        font-family: Open Sans, Arial;
        color: #454545;
        background-color: #F7F9F5;
    }

    @media all and (min-width: 1000px) {
        .parent {
            display: grid;
            grid-template-columns: 0.1fr 0.9fr;
            grid-template-rows: 1fr;
            grid-column-gap: 10px;
            grid-row-gap: 0px;
        }

        .content {
            margin-left: 0px;
            margin-left: 10px;
            grid-area: 1 / 2 / 2 / 3;
            max-width: 1400px;
        }

        #toc {
            grid-area: 1 / 1 / 2 / 2;
            border-right: 1px solid var(--color1);
            text-align: left;
        }

    }

    @media all and (min-width: 1200px) {
    }

    .toc-title {
        margin: 0 0 0 10px;
        border: 0px;
        color: black;
    }

    #toc ul {
        list-style-type: none;
        padding-left: 20px;
    }

    #toc ul ul {
        padding-left: 20px;
    }

    #toc a {
        color: black;
        text-decoration: none;
    }

    #toc a:hover {
        text-decoration: underline;
    }



    svg {
        display: inherit;
        margin: 0 auto;
    }

    h1 {
        border-bottom: 1px solid var(--color1);
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: var(--color1);
    }

    a {
        color: blue;
    }

    img {
        margin: 0px auto;
        max-width: 1200px;
        display: block;
    }

    table {
        width: 100%;
    }

    code {
        color: #dd4a68;
    }

    pre code {
        overflow: auto;
        display: block;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 1px solid #454545;
    }

    th {
        background-color: var(--color2);
        border: 1px solid #454545;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: var(--color2);
    }

}

@media print {
    body {
        color: black;
        background: white;
    }

    p,
    pre,
    code,
    table {
        break-inside: avoid;
    }
}