@media all {

    :root {
        --color0: #F7F9F5;
        --color1: #5026d3;
        --color2: #eee8d6;
        --color-text: #454545;
    }

    body {
        text-align: justify;
        font-size: 16px;
        line-height: 1.4;
        font-family: Open Sans, Arial;
        color: var(--color-text);
        background-color: var(--color0);
    }

    @media screen and (min-width: 1000px) {
        .parent {
            display: grid;
            grid-template-columns: 0.15fr 0.85fr;
            grid-template-rows: 1fr;
            grid-column-gap: 10px;
            grid-row-gap: 0px;
        }

        .content {
            margin-left: 0px;
            margin-left: 10px;
            grid-area: 1 / 2 / 2 / 3;
            max-width: 1400px;
        }

        #toc {
            grid-area: 1 / 1 / 2 / 2;
            border-right: 1px solid var(--color1);
            text-align: left;
        }
    }

    #notify {
        display: none;
        background-color: var(--color-text);
        color: var(--color0);
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        padding: 5px;
    }

    #navigate-top {
        background-color: var(--color2);
        position: fixed;
        right: 20px;
        bottom: 20px;
        display: none;
        width: 2%;
        min-width: 80px;
        transition: opacity 0.3s;
    }

    .toc-title {
        margin: 0 0 0 10px;
        border: 0px;
        color: var(--color1);
    }

    #toc ul {
        list-style-type: none;
        padding-left: 20px;
    }

    #toc ul ul {
        padding-left: 20px;
    }

    #toc a {
        color: black;
        text-decoration: none;
    }

    #toc a:hover {
        text-decoration: underline;
    }

    h1 {
        border-bottom: 1px solid var(--color1);
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: var(--color1);
    }

    a {
        color: blue;
    }

    img {
        margin: 0px auto;
        display: block;
    }

    svg {
        display: inherit;
        margin: 0px auto;
    }

    table {
        width: 100%;
    }

    code {
        color: #dd4a68;
    }

    pre {
        position: relative;
    }

    pre .copyButton {
        padding: 2px;
        position: absolute;
        top: 0px;
        right: 0px;
        opacity: 0.5;
        background-color: var(--color0);
    }

    pre .copyButton:hover {
        opacity: 1.0;
    }

    pre code {
        overflow: auto;
        display: block;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 1px solid var(--color-text);
    }

    th {
        background-color: var(--color2);
        border: 1px solid var(--color-text);
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: var(--color2);
    }

    .pagebreak {
        display: none;
    }
}

@media print {

    @page {
        margin-top: 5mm;
        margin-bottom: 5mm;
        margin-left: 10mm;
        margin-right: 10mm;
    }

    body,
    html {
        width: 250mm;
        height: 353mm;
    }

    body {
        color: black;
        background: white;
    }

    #toc {
        visibility: collapse;
        display: none;
    }

    #navigate-top {
        visibility: collapse;
        display: none;
    }

    h1 {
        page-break-before: always;
    }

    img,
    svg {
        max-width: 235mm;
        max-height: 345mm;
        margin: 0 auto;
        /*border: 1px solid red;*/
    }

    p,
    pre,
    code,
    table {
        break-inside: avoid;
    }

    pre .copyButton {
        display: none;
        visibility: collapse;
    }

    pre code {
        line-break: anywhere;
        overflow: hidden;
    }

    .pagebreak {
        display: block;
        visibility: collapse;
        page-break-after: always;
    }

    /*Manual page break adjustments*/
    #constant-pattern,
    #custom-numeric-format-strings,
    #data-annotation,
    #generic-math-interfaces,
    #hash-algorithms,
    #list-patterns,
    #minimal-mvvm-implementation,
    #nuget,
    #property-pattern,
    #standard-date-and-time-format-strings,
    #windows-froms-class-hierarchy,
    #wpf-class-hierarchy {
        page-break-before: always
    }

    #access-modifiers {
        page-break-before: avoid
    }
}